# fly.toml app configuration file generated for sardor-clock-bot on 2025-12-23T00:50:04+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sardor-clock-bot'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
