services:
  - type: web
    name: sardor-clock-bot
    env: python
    region: frankfurt
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false
      - key: SESSION_BASE64
        sync: false
      - key: WEB_PORT
        value: 10000
    healthCheckPath: /ping
